* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Cairo Play', sans-serif; */
    /* font-family: 'Gulzar', serif; */
    /* font-family: 'Kalam', cursive; */
    font-family: 'Poppins';
    /* font-family: 'Roboto Condensed', sans-serif; */
}


/* -----------------------nav----------------------- */



.f-img {
    width: 30px !important;
}




/* ---------------------------carousel--------------------------- */


.slide-1 {
    position: absolute;
    top: 12%;
    left: 50%;
}

.slide-2 {
    position: absolute;
    top: 20%;
    left: -25%;
}

.slide-3 {
    position: absolute;
    top: 5%;
    left: 57%;
}

.btn-co {
    border: 2px solid white !important;
    color: white;
}

.p-size {
    font-size: 40px;
}

.h1-size {
    font-size: 90px;

}



.btn-co2 {
    border: 2px solid black !important;
    color: black;
}

.arrow-h {
    color: red;
}

/* -------------------------servises card-------------------------- */
.img-card {
    width: 50px !important;
    height: 40px !important;
    align-self: center;
    color: white !important;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.img-card:hover {
    width: 55px !important;
    height: 45px !important;

}

.p-hover:hover {
    color: red;
}

#card-servises .image {
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------ESSENTIAL------------------------------ */

.card-img-top {
    width: 130px !important;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;

}

.card-img-top:hover {
    width: 110px !important;
}

/* ---------------------------------POSSIBILITIES------------------------------ */
.possi-b {
    margin-top: 80px;
}

.h4-resize {
    font-size: 20px;
}

#possibilities .image {
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    outline: none;
    transition: 1s all;
    position: absolute;
    top: 60%;
    cursor: pointer;
}

.circle.first {
    left: calc(0.59375vw + 10.4166vw);
}

.circle.sec {
    left: calc(19vw + 12.4166vw);
}

.circle.third {
    left: calc(39.40625vw + 12.4166vw);
}

.circle.fourth {
    left: calc(59.8125vw + 12.4166vw);
}

.circle:hover {
    outline: 15px solid rgb(255, 89, 89);
}

.circle1::after {
    content: ' ';
    display: block;
    width: 2px;
    height: 100px;
    background-color: black;
    position: relative;
    top: 50%;
    left: 50%;
    /* transform: rotateX(90deg); */
}

.circle2::after {
    content: ' ';
    display: block;
    width: 2px;
    height: 200px;
    background-color: black;
    position: relative;
    top: 50%;
    left: 50%;
    /* transform: rotateX(90deg); */
}

/* ------------------------------------------------------------------ */

#arrivals {
    position: relative;
}

#arrivals .width-more {
    letter-spacing: 5px;

}

#arrivals .container {
    display: flex;
    overflow-x: hidden;
    gap: 2.5vw;
}

#arrivals .child {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all;
}

#arrivals .btns {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#arrivals .card {
    position: relative;
    width: 18.2708vw !important;
    flex-shrink: 0;
    transition: 1s all;
}

#arrivals .card-body {
    position: relative;
    z-index: 1;
    background-color: #f3f3f3;
}

#arrivals .cart {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 280px;
    padding: 20px 0;
    background-color: black;
    color: white;
    transform: translateY(100%);
    opacity: 0;
    transition: 1s all;
}

#arrivals .card:hover .cart {
    transform: translateY(0);
    opacity: 1;
}

/* ---------------------------------------------------------------- */

#love,
footer {
    background-image: url(./img/love.webp);

}


/* ---------------------------global------------------------- */
.width-max {
    width: max-content;
}

.bg-color {
    background-color: #f3f7fa;
}

.f-color {
    color: #6B645D
}

.a-hover:hover {
    color: red !important;
}



/* -------------------------------media------------------------------------ */

@media screen and (max-width:992px) {
    .carousel-inner {
        height: 50vh !important;
    }

    .p-size {
        font-size: 10px;
    }

    .h1-size {
        font-size: 20px;
    }

    .btn-co,
    .btn-co2 {
        font-size: 10px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        width: max-content;
    }

    .slide-1,
    .slide-3 {
        top: 15%;
    }

    .resise-h {
        font-size: 15px;
    }

    .resise-p {
        font-size: 10px;
    }

    .possi-a,
    .possi-b {
        width: max-content;
        margin: auto;
        margin-bottom: 20px;
    }

    .circle {
        display: none;
    }

    #arrivals .card {
        width: 22.2708vw !important;
    }
}